<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Conduit.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BB9F2F488DA7887AD59F7F35B4D88247469047A8</string>
				<key>dateExpires</key>
				<string>9/13/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>328Q75U6HP.com.attleborocfa.portal</string>
				<key>com.apple.developer.devicecheck.appattest-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>328Q75U6HP</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Conduit.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>be9a0f1a-64a4-40a9-9098-91d1e1f33303</string>
				<key>dateExpires</key>
				<string>9/13/23</string>
				<key>name</key>
				<string>Conduit Provisioning Profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>328Q75U6HP</string>
				<key>name</key>
				<string>Brandon Cord</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
